video { 
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
background: url("../assets/beerBubbles.png") no-repeat;
background-size: cover;
transition: 1s opacity;
}

table {
  width: 100%;
  margin-top: 15px;
  border-collapse: collapse;
}

th {
  height: 100%;
  width: auto;
  padding: 20px !important;
  text-align: center;
  vertical-align: bottom;
}

tr {
  margin-top: 5px;
}

td {
  padding: 10px;
  text-align: center;
  border: 1px solid black;
}

#map {
  height: 600px !important;
  position: fixed;
  border-radius: 10px;
}

.label {
  background-color: rgb(255,188, 0);
}
.navbar {
  background-color: rgb(255,188, 0);
}

.navbar-brand {
  color: black;
}

.beenThere {
  font-size: 10px !important;
  padding: 5px !important;
  margin: 10px;
}

form.signup,
form.login {
  margin: 20px 0px 20px 0px;
}

#formBlock {
  background-color: whitesmoke;
  width: 60%;
  margin-top: 100px;
  border-radius: 15px;  
}